{{#if username}}
<div id="container"class="container">
    <div class="col-md-12 text-center">
        <h1><strong>Dairy, DDD :)</strong></h1>
    </div>
{{>todos}}
{{>items}}
</div>
{{else}}
<div id="container"class="container">
    <div class="col-md-12 text-center">
        <h1><strong>Welcome to Dairy, DDD :)</strong></h1>
        <h3><strong>It helps you to manage your diary to do</strong></h3>
    </div>
</div>
{{/if}}