<!-- Register Modal -->
<div class="modal modal-center fade" id="register">
  <div class="modal-dialog modal-center">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header text-center">
        <h4 class="modal-title">Sign up</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <input id="register_username" placeholder="username" /><br><br>
        <input id="register_password" placeholder="password" type="password"/>
        <p class="auth-flash-massage"></p>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" id="register_button" class="btn btn-outline-info" >Register</button>
      </div>

    </div>
  </div>
</div>
