<!-- Login Modal -->
<div class="modal modal-center fade" id="login">
  <div class="modal-dialog modal-center">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header text-center">
        <h4 class="modal-title">Login</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <input id="login_username" placeholder="username" /><br><br>
        <input id="login_password" placeholder="password" type="password"/>
        <p class="auth-flash-massage"></p>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" id="login_button" class="btn btn-outline-info" >Login</button>
        <button type="button" id="login_register_button" data-target="#register" data-toggle="modal" class="btn btn-outline-info" >Register</button>
      </div>
    </div>
  </div>
</div>