<!-- The New ToDo Modal -->
<div class="modal modal-center fade" id="newtodo">
  <div class="modal-dialog modal-center">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header text-center">
        <h4 class="modal-title">&nbsp&nbsp&nbsp&nbsp&nbspNew DDD</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <input id="newName" placeholder="ex) To study, Travel" />
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" id="newlist" class="btn btn-outline-info" >Create</button>
        <button type="button" class="btn btn-outline-info">Back</button>
      </div>

    </div>
  </div>
</div>