<div id="todos"class="border rounded-pill">
    <a id="add" href=""><i class="far fa-plus-square"data-target="#newtodo" data-toggle="modal"></i></a>
    {{#each todoList}}<span class="todos active"><strong>{{this}}</strong></span>{{/each}}
</div>