<div class="container">
    <div class="col-md-12 text-center">
        <h1>To Do List</h1>
    </div>
    <div class="row">
        <input id="enter-task" type="text" /> <button id="task" type="submit">Add Task</button>
    </div>
    <div class="row">
        <div class="col-md-4" name="task" id="tasklist">
            <h2>task</h2>
        </div>
        <div class="col-md-4" name="progress">
            <h2>progress</h2>
        </div>

        <div class="col-md-4" name="complate">
            <h2>complate</h2>
        </div>
    </div>
</div>
